{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "last 2 versions, > 1%",
        // "targets": "> 3%",
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
